@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "All Agents";
}

<h2>All Agents</h2>

<p>Hello from the All Agents view template!</p>