@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Welcome Agent";
}

<h2>Welcome Agent</h2>

<p>@ViewData["AgentName"]</p>
<p>@ViewData["AgentCode"]</p>